{
  "cniVersion": "0.3.1",
  "name": "cilium",
  "plugins": [
    {
      "type": "cilium-cni",
      "log-level": "info",
      "mtu": 1450,
      "k8sServiceHost": "{{ public_ip }}",
      "k8sServicePort": "{{ service_port }}",
      "ipam": {
        "type": "cluster-pool",
        "ipv4-pod-cidr": "{{ pod_cidr }}"
      }
    }
  ]
}
