# Секреты и временные файлы
certs/cert_info.json
data/collected_info.json
data/collected_info.py
data/missing_binaries.json
data/kubeadm-config.yaml

# Кеши Python
__pycache__/
*.pyc

# Логи
logs/
*.log
