# Секреты и временные файлы
certs/cert_info.json
data/collected_info.json
data/collected_info.py
data/missing_binaries.json
data/kubeadm-config.yaml
data/yaml/kubeadm-config.yaml
*.bak


# Конфиги runtime'а, которые не коммитим
*.swp
# временные файлы редакторов (например, nano/vim)

# Кеши Python
__pycache__/
*.pyc

# Логи
logs/
*.log

# Локальные настройки IDE (если используешь)
.vscode/
.idea/
data/cilium_values.yaml

# IPAM runtime maps (не храним в гите)
cluster/ipam_cilium/maps/
