apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-info
  namespace: kube-public
data:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    clusters:
    - cluster:
        certificate-authority-data: {{ CA_BASE64 }}
        server: https://{{ PUBLIC_IP }}:6443
      name: kubernetes
    contexts:
    - context:
        cluster: kubernetes
        user: kubelet-bootstrap
      name: bootstrap-context
    current-context: bootstrap-context
    users:
    - name: kubelet-bootstrap
      user:
        token: {{ TOKEN }}
