[Unit]
Description=Kubernetes API Server (DEV mode)
Documentation=https://kubernetes.io/docs/
After=network.target

[Service]
ExecStart={{ BINARY_PATH }} \
  --advertise-address={{ IP }} \
  --bind-address=0.0.0.0 \
  --secure-port=6443 \
  --service-cluster-ip-range=10.96.0.0/12 \
  \
  # ServiceAccount (для токенов и валидной подписи) \
  --service-account-signing-key-file={{ CERT_DIR }}/sa.key \
  --service-account-issuer=https://kubernetes.default.svc \
  --service-account-key-file={{ CERT_DIR }}/sa.pub \
  --service-account-lookup=true \
  \
  # TLS и CA \
  --client-ca-file={{ CERT_DIR }}/ca.crt \
  --tls-cert-file={{ CERT_DIR }}/apiserver.crt \
  --tls-private-key-file={{ CERT_DIR }}/apiserver.key \
  \
  # kubelet auth (чтение логов и exec) \
  --kubelet-client-certificate={{ CERT_DIR }}/apiserver-kubelet-client.crt \
  --kubelet-client-key={{ CERT_DIR }}/apiserver-kubelet-client.key \
  --kubelet-preferred-address-types=InternalIP,Hostname,ExternalIP \
  --authorization-mode=Node,RBAC \
  \
  # etcd \
  --etcd-servers=https://127.0.0.1:2379 \
  --etcd-cafile={{ CERT_DIR }}/ca.crt \
  --etcd-certfile={{ CERT_DIR }}/etcd/server.crt \
  --etcd-keyfile={{ CERT_DIR }}/etcd/server.key \
  \
  # Admission плагины \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,ServiceAccount,DefaultTolerationSeconds \
  --disable-admission-plugins=PodSecurity,DefaultStorageClass,PersistentVolumeLabel \
  \
  # Прочее \
  --allow-privileged=true \
  --cloud-provider=external \
  --enable-bootstrap-token-auth=true \
  --runtime-config=api/all=true \
  --v=4

MemoryMax=4G
MemorySwapMax=infinity
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
