kubeProxyReplacement: "strict"
k8sServiceHost: {{ IP }}
k8sServicePort: {{ PORT }}

ipam:
  mode: "kubernetes"

hostServices:
  enabled: false

externalIPs:
  enabled: true

nodePort:
  enabled: true

endpointSlices:
  enabled: true

routingMode: "native"
tunnel: "disabled"

ipv4:
  enabled: true

ipv6:
  enabled: false

bpf:
  masquerade: true

agent:
  enabled: true
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  {% if ENABLE_TOLERATIONS %}
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node.kubernetes.io/not-ready"
      operator: "Exists"
      effect: "NoSchedule"
  {% endif %}

operator:
  enabled: true
  replicas: {{ REPLICAS }}
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  {% if ENABLE_TOLERATIONS %}
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node.kubernetes.io/not-ready"
      operator: "Exists"
      effect: "NoSchedule"
  {% endif %}
  {% if not DISABLE_AFFINITY %}
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            io.cilium/app: operator
        topologyKey: kubernetes.io/hostname
  {% endif %}

hubble:
  enabled: false
