[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/
After=network.target

[Service]
ExecStart={BINARY_PATH} \
  {FLAGS}
MemoryMax=4G
MemorySwapMax=infinity
OOMScoreAdjust=-1000

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
